version: "3.9"

services:
  api:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./data:/code/data  # Persist the SQLite database
      - ./collections/test_data/pangenomes:/code/collections/test_data/pangenomes 
